/*styles for my new class excercise for week 3*/
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Lucida console", monospace, sans-serif;
    background: brown;
}

header{
    margin-bottom: 20px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

footer li{
    display: inline;
    /* Or you can use float: left*/
    margin-right: 30px;
}

 a{
    color:darkolivegreen;
}

.center{
    display: block;
    margin: 20px auto;
    text-align: center;
}
p{
    margin-bottom: 20px;
    line-height:1.4;
}

h1,h2{
    margin-bottom: 8px;
    
}

